---
permalink: /posts/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
{% assign posts = collections.post | reverse | slice: 0, 10 %}
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="es">
	<id>{{ site.url }}/</id>
	<title>mi Blog | iyaki</title>
	<subtitle>Blog personal donde comparto mis experiencias y pensamientos</subtitle>
	<updated>{{ posts[0].page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}</updated>
	<link href="{{ site.url }}/blog" hreflang="es" />
	<link href="{{ site.url }}/posts/feed.xml" rel="self" />
	<author>
		<name>{{ site.author }}</name>
		<uri>{{ site.url }}</uri>
	</author>
	<icon>{{ site.url }}/blog/logo.png</icon>
	<logo>{{ site.url }}/blog/logo.png</logo>
	{% for post in posts %}
	<entry>
		{% capture description %}{% if post.data.epigraph %}<blockquote>{{ post.data.epigraph }}</blockquote>{% endif %}{{ post.content }}{% endcapture %}
		{%liquid
			assign postUriPath = post.page.url | url
			assign baseUriAbsolute = site.url
			assign baseUriRelative = baseUriAbsolute | append: postUriPath
			assign hrefAbsolute = 'href="' | append: baseUriAbsolute | append: '/"'
			assign hrefRelative = 'href="' | append: baseUriRelative
			assign srcAbsolute = 'src="' | append: baseUriAbsolute | append: '/"'
			assign srcRelative = 'src="' | append: baseUriRelative
			assign postUri = baseUriRelative
			assign description = description | replace: 'href="/', hrefAbsolute | replace: 'href="./', hrefRelative | replace: 'src="/', srcAbsolute | replace: 'src="./', srcRelative
		%}
		<id>{{ postUri }}</id>
		<title><![CDATA[{{ post.data.title }}]]></title>
		<summary><![CDATA[{{ post.data.epigraph }}]]></summary>
		<content type="html"><![CDATA[{{ description }}]]></content>
		<link rel="alternate" href="{{ postUri }}" />
		<updated>{{ post.page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}</updated>
		<published>{{ post.data.created | date: "%Y-%m-%dT%H:%M:%SZ" }}</published>
	</entry>
	{% endfor %}
</feed>
