---
permalink: /posts/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
	<channel>
		<title>mi Blog | iyaki</title>
		<description>Blog personal donde comparto mis experiencias y pensamientos</description>
		<link>{{ site.url }}/blog/</link>
		<language>es</language>
		<atom:link href="{{ site.url }}/posts/feed.xml" rel="self" type="application/rss+xml" />
		<image>
			<url>{{ site.url }}/blog/logo.png</url>
			<title>mi Blog | iyaki</title>
			<link>{{ site.url }}/blog/</link>
		</image>
		{% assign posts = collections.post | reverse | slice: 0, 10 %}
		{% for post in posts %}
			<item>
				<title><![CDATA[{{ post.data.title }}]]></title>
				{% capture description %}
					{% if post.data.epigraph %}<blockquote>{{ post.data.epigraph }}</blockquote>{% endif %}
					{{ post.content }}
				{% endcapture %}
				{%liquid
					assign postUriPath = post.page.url | url
					assign baseUriAbsolute = site.url
					assign baseUriRelative = baseUriAbsolute | append: postUriPath
					assign hrefAbsolute = 'href="' | append: baseUriAbsolute | append: '/"'
					assign hrefRelative = 'href="' | append: baseUriRelative
					assign srcAbsolute = 'src="' | append: baseUriAbsolute | append: '/"'
					assign srcRelative = 'src="' | append: baseUriRelative
					assign postUri = baseUriRelative
					assign description = description | replace: 'href="/', hrefAbsolute | replace: 'href="./', hrefRelative | replace: 'src="/', srcAbsolute | replace: 'src="./', srcRelative
				%}
				<description><![CDATA[{{ description }}]]></description>
				<pubDate>{{ post.page.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
				<link>{{ postUri }}</link>
				<guid isPermaLink="true">{{ postUri }}</guid>
			</item>
		{% endfor %}
	</channel>
</rss>
