---
permalink: /curated/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
	<channel>
		<title>Recopilador de contenidos curados | iyaki</title>
		<description>Artículos que me resultan útiles o interesantes</description>
		<link>{{ site.url }}/curated/</link>
		<language>es</language>
		<atom:link href="{{ site.url }}/curated/feed.xml" rel="self" type="application/rss+xml" />
		<image>
			<url>{{ site.url }}/blog/logo.png</url>
			<title>mi Blog | iyaki</title>
			<link>{{ site.url }}/blog/</link>
		</image>
		{% assign articles = collections.curatedContent | reverse | slice: 0, 10 %}
		{% for article in articles %}
			<item>
				<title>{{ article.data.title }}</title>
				<description><![CDATA[{{ article.data.comment }}]]></description>
				<pubDate>{{ article.page.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
				<link>{{ article.data.link }}</link>
				<guid isPermaLink="true">{{ article.data.link }}</guid>
			</item>
		{% endfor %}
	</channel>
</rss>
